@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@400;600;800&display=swap");

/* font-family: 'Cormorant Garamond', serif;
  font-family: 'Inter', sans-serif;

 Cormorant Garamond 400 500 600 700
            Inter  400 600 800 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Light-peach: #ffd384;
  --Mustard: #ffc54d;
  /* --Light-violet-blue: #eceafb; */
   --Light-violet-blue: #edeef6;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

a:hover {
  font-size: 1.6rem;
}

li {
  list-style-type: none;
  padding-right: 1rem;
}

.home__section {
  padding: 4.6rem;
  /* background-image: url("https://cdn.pixabay.com/photo/2014/09/15/21/46/couch-447484__340.jpg"); */
  background-image: url("https://media.istockphoto.com/id/1349615972/photo/contemporary-classic-white-beige-interior-with-sofa-and-decor-3d-render-illustration-mockup.jpg?s=170667a&w=0&k=20&c=BdA49L9zCHGYuFPYTqAWrvKQVlm6OUiuwQHl-ylVaPE=");
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  /* background-attachment: fixed; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  font-family: "Cormorant Garamond", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 1.4rem;
}

.connect {
  font-weight: 600;
  /* font-size:1.4rem; */
  cursor: pointer;
}
cursor p:hover {
  font-size: 1.6rem;
}

.about {
  margin-top: 8rem;
  width: 55%;
}

.about__heading {
  font-weight: 600;
  font-size: 2.7rem;
  padding-bottom: 1.2rem;
  line-height: 1.5;
}

.about__description {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.shop-btn {
  background-color: var(--Mustard);
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 3px 3px 3px 3px var(--Light-peach);
}

.shop-btn:hover {
  background-color: white;
  color: var(--Mustard);
  font-size: 1.3rem;
  font-weight: 700;
  box-shadow: 10px 5px 5px black;
}

/* ADVANTAGES SECTION */
.advantages__section {
  overflow: hidden;
  min-height: 100px;
  background-color: var(--Light-violet-blue);
  padding: 6.3rem 10rem 8rem;
}

.advantages__heading {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 2.3rem;

  text-align: center;
}

.advantages__content {
  font-family: "Inter", sans-serif;
  margin-top: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}

.advantage__icon {
  color: black;
  font-size: 3rem;
  font-weight: 900;
}

/* about company */

.description {
  padding: 7rem 10rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: white;
}

.description__left {
  display: flex;
  flex-direction: column;
}

.description__left-top {
  width: 90%;
}

.description__left-top h4 {
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
}

.description__left-top p {
  margin-top: 2.3rem;
  font-size: 1.2rem;
  margin-right: 2rem;
  line-height: 1.8rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
}

.description__left-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 4rem;
  margin-right: 1rem;

  background-color: var(--Light-peach);
}

.description__image {
  width: 25rem;
  height: 36.5rem;
}

.first-desc-heading,
.second-desc-heading,
.third-desc-heading {
  font-size: 3rem;
  font-weight: 500;
}

.first-desc,
.second-desc,
.third-desc {
  padding-right: 2rem;
}

.first-desc-content,
.second-desc-content,
.third-desc-content {
  margin-top: 1.2rem;
  line-height: 1.4rem;
}

/* product gallery */
.gallery-image{
  height:400px;
  width:400px;
  border-radius: .5rem;
}

.gallery-grid{
  margin:2rem 9rem;
  display:grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap:1rem;
}

.review-section{
   margin:6rem 9rem;
}

.review-top{
  text-align: center;

}

.review-top h4{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 2rem;
  
}

.review-top p{
  font-family: 'Inter', sans-serif;
  
}