@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@400;600;800&display=swap");

/* font-family: 'Cormorant Garamond', serif;
  font-family: 'Inter', sans-serif;

 Cormorant Garamond 400 500 600 700
            Inter  400 600 800 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Light-peach: #ffd384;
  --Mustard: #ffc54d;
  --Light-violet-blue: #eceafb;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

li {
  list-style-type: none;
  padding-right: 1rem;
}

.home__section {
  padding: 4.6rem;
  /* background-image: url("https://cdn.pixabay.com/photo/2014/09/15/21/46/couch-447484__340.jpg"); */
  background-image: url("https://media.istockphoto.com/id/1349615972/photo/contemporary-classic-white-beige-interior-with-sofa-and-decor-3d-render-illustration-mockup.jpg?s=170667a&w=0&k=20&c=BdA49L9zCHGYuFPYTqAWrvKQVlm6OUiuwQHl-ylVaPE=");
  background-size: cover;
  background-repeat: no-repeat;

  background-position:center;
  /* background-attachment: fixed; */
  width:100%;
  height:100vh;
  overflow: hidden;
}

header {
  font-family: "Cormorant Garamond", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  font-size:1.4rem;
}

.connect {
  font-weight: 600;
  /* font-size:1.4rem; */
}

.about {
  margin-top: 8rem;
  width: 55%;
  

}

.about__heading {
  font-weight: 600;
  font-size: 2.7rem;
  padding-bottom: 1.2rem;
  line-height: 1.5;
}

.about__description {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  
}

.shop-btn {
  background-color: var(--Mustard);
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size:1rem;
  
}


/* ADVANTAGES SECTION */
.advantages__section{
  overflow: hidden;
  min-height:100px;
  background-color: var(--Light-violet-blue);
  padding:5rem 8rem;
}

.advantages__heading{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size:2.3rem;
 
  text-align: center;
}

.advantages__content{
  font-family: 'Inter', sans-serif;
  margin-top:2.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size:1.2rem;
}

.advantage__icon{
  color:black;
  font-size:3rem;
  font-weight: 900;
}

.description{
  padding:5rem 8rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;

}

.description__left{
  display:flex;
  flex-direction: column;
}

.description__left-bottom{
  display:flex;
  align-items: center;
  justify-content: space-between;
}