@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@400;600;800&display=swap");

/* font-family: 'Cormorant Garamond', serif;
  font-family: 'Inter', sans-serif;

 Cormorant Garamond 400 500 600 700
            Inter  400 600 800 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Light-peach: #ffd384;
  --Mustard: #ffc54d;
  --Light-violet-blue: #e5e0ff;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

li {
  list-style-type: none;
  padding-right: 1rem;
}

.home__section {
  padding: 4.6rem;
  /* background-image: url("https://cdn.pixabay.com/photo/2014/09/15/21/46/couch-447484__340.jpg"); */
  background-image: url("https://media.istockphoto.com/id/1349615972/photo/contemporary-classic-white-beige-interior-with-sofa-and-decor-3d-render-illustration-mockup.jpg?s=170667a&w=0&k=20&c=BdA49L9zCHGYuFPYTqAWrvKQVlm6OUiuwQHl-ylVaPE=");
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  background-attachment: fixed;
}

header {
  font-family: "Cormorant Garamond", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}

.connect {
  font-weight: 600;
}

.about {
  margin-top: 4rem;
  width: 55%;
}

.about__heading {
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 1.2rem;
  line-height: 1.5;
}

.about__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.shop-btn {
  background-color: var(--Mustard);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}
